body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #21323d;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 197px;
    background-color: #12252d;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 10px;
    transition: background-color 0.3s ease;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 50px 0px 0px 25px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease;
}


/* admin.css */

.sidebar a.active {
    background-color: #0aff8016; /* Change this color as needed */
    color: white;
    border-radius: 3px;
}


.sidebar a:hover {
    background-color: #008db4;
    border-radius: 3px ;
}

.arrow {
    font-size: 0.7em;
}

.submenu {
    display: none;
    list-style-type: none;
    padding-left: 20px;
    margin: 10px 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.submenu li {
    margin-bottom: 5px;
}

.sidebar li.active > .submenu {
    display: block;
}


/* Ensure the submenu remains open if it contains an active link */
.submenu li a.active {
    background-color: #45fe9f29; /* Change this color as needed */
    color: white;
}

.has-submenu.active .submenu {
    display: block;
    max-height: 500px; /* Adjust this value as needed */
}




.main-content {
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    flex-direction: column;
}

.date-picker input {
    margin-right: 10px;
    padding: 5px;
    width: 311px;
}

.date-picker {
    margin-left: -85px;
    font-size: 12px;
}

.stats {
    display: flex;
    gap: 10px;
}

.stat-item {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 50px;
    color: #ffffff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amount {
    display: block;
    font-size: 1.5em;
    margin-top: 5px;
}

.controls {
    display: flex;
    gap: 10px;
    margin: 0px 13px;
}

.controls button {
    width: 60px;
    padding: 4px;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.chart {
    background-color: #0d1f29;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 50%;
    height: 50vh;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #0d1f29;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 50%;
    height: 50vh;
    font-size: 10px;
}

.info h2 {
    margin-top: 0;
}

.transactions,
.transaction-status,
.server-deposits,
.user-info,
.game-info {
    padding: 6px;
    border-radius: 5px;
}

.transactions ul,
.transaction-status ul,
.server-deposits ul,
.user-info ul,
.game-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    display: grid;
    color: #00eaff;
}

/* Hide scrollbar for WebKit browsers */
.sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for all other browsers */
.sidebar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.top-bar {
    width: 100%;
    background-color: black;
    height: 52px;
    margin-bottom: 20px;
}


/* Profile icon */
.profile {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: invert();
    margin-right: 10px;
}

/* Adjust top-bar styles */
.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 12px;
    gap: 20px;
}



/* partner page*/
.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
}

.search-container button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.partner-list, .create-partner {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-list h2{
    margin: 0;
    margin-left: -327px;
    margin-bottom: 5px;
    font-size: 16px
}


.create-partner h2{
    margin: 0;
    margin-left: -274px;
    margin-bottom: 5px;
    font-size: 16px
}

.partner-container{

    width: 85%;
    background-color: #0e202a;
    display: flex;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
}

.partner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-list table {
    width: 100%;
    border-collapse: collapse;
}

.partner-list th, .partner-list td {
    padding: 10px;
    text-align: center;
}

.partner-list th {
    background:transparent;
}

.partner-list td {
    border-bottom: none;
}

.create-partner input[type="text"], .create-partner input[type="password"] {
    width: 140%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.create-partner button {
    width: 20%;
    padding: 10px;
    background: linear-gradient(185deg, #7000ff, #1d2479);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.create-partner button:hover {
    background-color: #3700b3;
}


#createPartnerForm{
    background: #0f161c;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding: 20px;
    border-radius: 8px;
    height:80%;

}

.form-group{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.table-contain{
    display: flex;
    justify-content: center;
    background: #0f161c;
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    font-size: 10px;
    height: 80%;
    overflow-y: auto; /* Enable vertical scrolling */
}

.members{
    color: rgb(0, 187, 255);
}
.deposits{
    color: yellowgreen;
}

.withdrawals{
    color: yellow;
}

.activemembers{
    color: orange;
}


#featureSelect {
    appearance: none;
    background-color: #6b9800;
    color: #fff;
    border: none;
    height: 35px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

#featureSection{
    margin-bottom: 10px;
    width: 69%;
}


